@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Maven+Pro:wght@400;500;600;700;800;900&family=Noto+Sans+Math&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@layer base {
    body {
        @apply dark:bg-slate-800
    }

    .font-source {
        font-family: 'Source Code Pro', monospace;
    }

    .font-inter {
        font-family: 'Inter', sans-serif;
    }

    .font-maven {
        font-family: 'Maven Pro', sans-serif;
    }

    ::-webkit-scrollbar {
        @apply w-[10px] rounded-full cursor-pointer z-10;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply w-[10px] max-w-[10px] right-[2px] bg-slate-400 rounded-full;
        padding: 0 2px white solid;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply transition-all bg-slate-600 hover:bg-slate-800 rounded-full;
    }

    .hide-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    .about-text {
        @apply text-slate-700;
    }
    .about-text > a {
        @apply text-blue-500 font-medium hover:text-blue-600 dark:text-indigo-500 dark:hover:text-indigo-600 transition-all;
    }
    .about-text > span {
        @apply bg-slate-100 px-2 py-1 text-sm rounded-md text-slate-700;
    }

    .link {
        @apply text-blue-500 font-medium hover:text-blue-600 dark:text-indigo-500 dark:hover:text-indigo-600 transition-all;
    }

    .typography-head-title {
        @apply text-5xl font-semibold text-slate-800 dark:text-slate-100;
    }
    .typography-title {
        @apply text-2xl font-medium text-slate-700 dark:text-slate-200;
    }
    .typography-text {
        @apply text-base text-[rgb(64_71_86)] dark:text-slate-400;
    }
    .typography-text > span, .typography-pre {
        @apply bg-slate-100 dark:bg-slate-700 px-2 py-1 text-sm rounded-md text-slate-700 dark:text-slate-400;
    }
    .typography-text > a, .typography-link {
        @apply text-blue-500 font-medium hover:text-blue-600 dark:text-indigo-500 dark:hover:text-indigo-600 transition-all;
    }
}